@charset "utf-8";
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('./fontello.css');

/* 초기화 */
*, *::before, *::after{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color:inherit;
}

/* menu 1. 숨김 */
.a11y-hidden{
  position: absolute;
  width:1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* html 시작 */

html{
  font-size: 10px;
}

body{
  font-size: 1.4rem;
  margin:0;
  color:#181818;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}

.header, .visual, .main-content, .slogan, .footer{
  margin: 0 auto;
  width:940px;
}

.header{
  background-color: red;
  position: relative;
  box-sizing: border-box;
  position: relative;
  /* height: 100px; 임의 */
  padding: 0 30px 50px 30px;
}

/* logo */
.logo{
  margin: 0;
  position: absolute;
  top:45px;
  left: 70px;
}

/* 멤버 링크 */
.member{
  list-style-type: none;
  /* 4. 여백 맞추기 */
  padding: 2px 0;
  margin: 0;
  font-size: 0;
  /* background-color: purple; */
  text-align: right;
  /* 4. 시안과 동일하도록 여백 맞추기 */
  position: relative;
  right: -10px;
}

.member li{
  /* width:80px; */
  display:inline-block;
  font-size :1.4rem;
  /* background-color:white; */
  text-transform :uppercase;
}

/* 1. fontello를 사용하여 넣어보는 과정 */
/* .member li::before{
  background-color: orange;
  font-family: "fontello";
  content: "\f142";
} */

/* 2. fontello 적용 시 속성 선택자를 사용 */
.member li:nth-child(n+2)::before{
  /* background-color: orange; */
  font-family: "fontello";
  content: "\f142";
}

/* 3. fontello 속성과 별도로 여백 주기 */
.member a{
  padding: 8px 10px;
  display: inline-block;
}

/* main menu */

.menu{
  background-color:orange;
  /* menu 5. background 적용 */
  background-image: linear-gradient(to bottom, #ffc132 0%,#f7852e 35%,#f7852e 70%,#ffc132 100%);
  /* menu 2. 메뉴 위치 padding으로 변동 및 list agent 속성 지우기 */
  padding-left: 225px;
  list-style: none;
  margin: 5px 0 0 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 -2px 2px 0 #000;
  /* menu 3. margin 값을 적용하여 메뉴 위치 조정 */
  /* menu 6. background 높이값 적용 */
  /* 첫번째 방법 height: 45px; */
  /* 두번째 방법 overflow: auto; */
}

/* menu 6. background 높이값 적용 세번째 방법 */
.menu::after{
  content: "";
  background-color: lime;
  clear:both;
  display: block;
}

.menu-item{
  float: left;
  line-height: 45px;
  /* menu 4. padding이 아닌 line-height 속성을 사용하면 가운데 위치한 듯한 css trick이 됨 */
}

.btn-menu{
  /* menu 4. menu의 font style 변경 */
  font-weight: 700;
  font-size: 1.6rem;
  color:#fff;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}

.sub-menu{
  /* menu 2. sub 메뉴 list agent 속성 지우기 */
  padding-left: 0;
  list-style: none;
  /* margin:0; */
  background-color: pink;
  /* menu 3. sub 메뉴로 인해 menu 영역 margin이 일정하지 않기 때문에 position:absolute 값을 부여함. 적용 후 안보이도록 처리*/
  position: absolute;
  display: none;
}

.main-content{
  background-color: orange;
  min-height: 400px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.visual{
  background-color: yellow;
}

.main-content .group1{
  background-color: pink;
  width: 250px;
}

.main-content .group2{
  background-color: white;  
  width: 380px;
}

.main-content .group3{
  background-color: springgreen;
  width: 190px;
}

.slogan{
  background-color: green;
}

.footer-bg{
  background: blue;
}

.footer{
  background-color: purple;
}