@charset "utf-8";
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('./fontello.css');

/* 초기화 */
*, *::before, *::after{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color:inherit;
}

/* menu 1. 숨김 */
.a11y-hidden{
  position: absolute;
  width:1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* html 시작 */

html{
  font-size: 10px;
}

body{
  font-size: 1.4rem;
  margin:0;
  color:#181818;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}

.header, .visual, .main-content, .slogan, .footer{
  margin: 0 auto;
  width:940px;
}

.header{
  background-color: pink;
  position: relative;
  box-sizing: border-box;
  position: relative;
  padding: 0 30px 50px 30px;
}

/* logo */
.logo{
  margin: 0;
  position: absolute;
  top:45px;
  left: 70px;
}

/* 멤버 링크 */
.member{
  list-style-type: none;
  padding: 2px 0;
  margin: 0;
  font-size: 0;
  text-align: right;
  position: relative;
  right: -10px;
}

.member li{
  display:inline-block;
  font-size :1.4rem;
  text-transform :uppercase;
}

.member li:nth-child(n+2)::before{
  font-family: "fontello";
  content: "\f142";
}

.member a{
  padding: 8px 10px;
  display: inline-block;
}

/* main menu */

.menu{
  background-color:orange;
  background-image: linear-gradient(to bottom, #ffc132 0%,#f7852e 35%,#f7852e 70%,#ffc132 100%);
  padding-left: 225px;
  list-style: none;
  margin: 5px 0 0 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 -2px 2px 0 #000;
}

.menu::after{
  content: "";
  background-color: lime;
  clear:both;
  display: block;
}

.menu-item{
  float: left;
  /* .sub-menu의 영역의 위치를 잡아주기 위해 지정함 */
  position: relative;
  /* 메뉴의 경계선을 그려준다. */
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-menu{
  /* height 속성을 지정해 준 의미는 박스 아래 줄을 그어줄 때 넘어가는 현상 방지 */
  height: 45px;
  line-height: 45px;
  font-weight: 700;
  font-size: 1.6rem;
  color:#fff;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
  /* menu의 영역을 넓히기 위해 padding을 적용한다.*/
  /* 해당 영역에 적용한 이유는 li 위치가 아닌 a 영역을 넓힘으로 사용자가 해당 메뉴를 클릭할때의 편의성을 높여주기 위함이다. */
  padding:0 20px;
  display: block;
  /* background:pink; */
}

.menu-act .btn-menu{
  /* 해당 코드는 li에 hover 된 경우 color값을 변경하는 것 */
  color:#ff0 !important;
}

.menu-act .btn-menu::after{
  content:"";
  display: block;
  border-top: 2px solid #000;
}

.sub-menu{
  padding-left: 0;
  list-style: none;
  margin: 0;
  /* background-color: pink; */
  position: absolute;
  /* width: 500px; */
  display: none;
  /* width영역이 넘어가면 줄바꿈이 일어나지 않는다. */
  white-space: nowrap;
}

.menu-act .sub-menu{
  display: block;
  top: 47px;
}

.sub-menu li, .sub-menu a{
  /* 가로로 나열하기 위해서 li영역의 display 속성을 변경시킴 */
  /* a에 적용한 이유는 inl */
  display: inline-block;
}

/* 서브메뉴를 가로로 정렬 */

.sub-menu a{
/* 서브메뉴의 영역을 확장시키기 위한 용도 */
  padding: 10px 0;
  margin-right: 10px;
}

.sub-menu1, .sub-menu2, .sub-menu3{
  left:0;
}

.sub-menu4, .sub-menu5, .sub-menu6{
  right:0;
}


.main-content{
  background-color: orange;
  min-height: 400px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

@keyframes bgAni{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.visual{
  background-color: yellow;
  height: 120px;
  position: relative;
}

.visual::before, .visual::after{
  content:"";
  width:100%;
  height: 100%;
  position:absolute;
  animation: bgAni 2000ms infinite alternate ease-in-out;
}

/* 꽃의 반복이 2 이미지씩 묶여있기 때문에 이미지의 반복을 두개씩 묶는다. */
.visual::before{
  background: url('./images/ani_flower_01.png') no-repeat 0 -10px,   url('./images/ani_flower_02.png') no-repeat 670px 0;
}

.visual::after{
  animation-delay: 1000ms;
  background: url('./images/ani_flower_03.png') no-repeat 300px 0,  url('./images/ani_flower_04.png') no-repeat 800px 15px;
}

@keyframes textAni{
  0%{
    font-size:12px;
    color: rgba(0,0,0,0);
    transform: translate(0,0);
  }
  100%{
    font-size: 24px;
    color: rgba(0,0,0,1);
    transform: translate(400px, 75px);
  }
}

.visual-text{
  position: absolute;
  background-color: yellow;
  animation-name: textAni;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-content .group1{
  background-color: pink;
  width: 250px;
}

/* group1 */

/* group1 로그인 영역 */

.login{
  padding: 10px;
  background: #f7852e linear-gradient(#f7852e, #ffc132);
  border-radius: 10px;
  box-shadow: 5px 5px gray;
}

.login-heading{
  margin: 0;
  color: yellow;
  font-size: 1.5rem;
  padding: 0 0 10px 10px;
}

.login-section{
  background: #fff;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}

.login fieldset{
  border:none;
  padding: 0;
  margin: 0;
  position: relative;
}

.login legend{
  display: none;
}

.login-section label{
  display: inline-block;
  width: 4em;
  /* background-color: green; */
}

.login-section input{
  width: 95px;
}

.user-pw{
  margin-top: 5px;
}

.login-btn {
  background-color: #f7852e;
  padding: 0;
  border:0;
  border: 1px solid yellow;
  width: 50px;
  height: 50px;
  position: absolute;
  top:0;
  right: 0;
  color: #fff;
  font-size: 1.1rem;
}

.login-section::after{
  content: "";
  display: block;
  margin-top: 10px;
  border-bottom: 1px solid #000;
  background: #000
}

.login-service{
  list-style: none;
  background-color: #fff;
  margin:0;
  border-radius: 0 0 10px 10px;
  padding: 0 10px 10px 10px;
  /* float: left; */
}

.login-service li{
  display: inline-block;
  font-size: 1.3rem;
}

.login-service li::before{
  font-family: "fontello";
  content: "\e804";
  margin-right: 5px;
  color: #f7852e;
}

.login-service li:nth-child(1){
  /* background-color: pink; */
  margin-right: 15px;
}

/*  */

.main-content .group2{
  background-color: white;  
  width: 380px;
}

.main-content .group3{
  background-color: springgreen;
  width: 190px;
}

.slogan{
  background-color: green;
}

.footer-bg{
  background: blue;
}

.footer{
  background-color: purple;
}