@charset "utf-g";
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

/* 초기화 */
*, *::before, *::after{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

a:link{
  color: inherit;
}

a:visited{
  color: #999;
}

/* a:hover, a:focus{
  color: red;
} */

html{
  font-size: 10px;
}

body{
  font-size: 1.4rem;
  margin:0;
  color: #181818;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
}

.header, .visual, .main-content, .slogan, .footer{
  margin: 0 auto;
  width:940px;
}

.header{
  /* box-sizing: content-box; */
  box-sizing: border-box;
  background-color: pink;
  position: relative;
  padding: 10px 30px 50px 30px;
}

/* LOGO */
.logo{
  margin : 0;
  position: absolute;
  top: 50px;
  left: 70px;
}

/* 멤버 링크 */
.member{
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  background-color: yellow;
  font-size: 0;
  text-align: right;
  /* flex 방법
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100px;
  align-items: center; */
}

.member li{
  display: inline-block;
  background-color: aqua;
  font-size: 1.4rem;
  text-transform :uppercase;
}


.visual{
  background-color: lime;
  height: 120px;
}

.main-content{
  min-height: 400px;
  padding: 30px;
  background-color: skyblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.group{
  background-color: yellow;
}

.group1{
  flex-basis: 250px;
  /* flex-grow: 2;
  flex-shrink: 1; */
  /* 위 세가지를 함축해서 flex: 50px 2 1; */
  background-color:orange;
}
.group2{
  flex-basis: 380px;
  /* flex-grow: 1; */
  background-color:green;
}
.group3{
  flex-basis: 190px;
  /* flex-grow: 2; */
}

.slogan{
  background-color: orange;
  padding: 15px 0;
}

.footer-bg{
  background-color: silver;
  padding:15px 0;
}

.footer{
  background-color: yellow;
}